@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

$mb: 400px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$llg: 1180px;
$xl: 1280px;
$xx-l: 1560px;
$bg: #f0f2f5;
$fb_color: rgb(0, 132, 255);

.dialogue_post {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  .wrapper_close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: background 0.5s;
    > * {
      color: white;
    }
  }
  .wrapper_close:hover {
    > * {
      color: black;
    }
  }
  .container_post {
    pointer-events: fill;
    min-height: 450px;
    height: 600px;
    min-width: 350px;
    width: 70%;
    max-width: 750px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(105, 102, 102, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 5rem;
    .loading_chat {
      border-radius: 15px;
      position: absolute;
      inset: 0;
      z-index: 55;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: rgba(0, 0, 0, 0.8);
    }
    .postbar {
      height: 5rem;
      background-color: white;
      width: 95%;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .wrapper_close:hover {
        background-color: gray;
        > * {
          color: white;
        }
      }
    }

    .container_comment {
      width: 100%;
      min-height: 320px;
      overflow-y: auto;
      padding-bottom: 12rem;
      .container_profile {
        height: 4rem;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 1% 1% 1% 1%;

        .wrapper_image {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }
        }
        .container_introduction {
          height: 4rem;
          width: 120px;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          .wrapper_desc {
            display: flex;
            align-items: center;
            gap: 5%;
            flex: 1;
            span[class="desc_date"] {
              font-size: 0.8rem;
              color: gray;
            }
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
        .wrapper_option {
          cursor: pointer;
          margin-left: auto;
        }
      }
      .boxes {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;

        background-color: rgb(61, 70, 82);
        img {
          width: 95%;
          height: 450px;
        }
      }
      .desc {
        height: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid gray;
        justify-content: flex-end;
        span {
          height: 4rem;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 15px;
        }
        span[class="tools"] {
          gap: 0.5rem;
          cursor: pointer;
        }
        span[class="tools"]:hover {
          background-color: $bg;
        }
        .icon_emoji {
          cursor: pointer;
          transition: transform 0.5s;
        }
        .icon_emoji:hover {
          transform: translateY(-15%);
        }
        .container_emoji {
          width: 45%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;

          img {
            width: 30px;
            height: 30px;
          }
        }
        .comment {
          width: 50%;
          display: flex;
        }
        .comment:hover {
          span {
            cursor: pointer;
            color: gray;
            text-decoration: underline;
          }
        }
      }
      .container_message_comment {
        min-height: 300px;
        display: flex;
        padding: 5% 0 5% 0;
        margin-left: auto;
        width: 95%;
        position: relative;

        .template {
          width: 100%;
          min-height: 200px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          /// mediummessage ***********
        }
      }
    }
    .container_comment::-webkit-scrollbar {
      opacity: 0;
      width: 1vw;
    }
    .container_comment::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background-color: rgb(228 228 231);
    }

    .bottombar {
      height: 12rem;
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $bg;
      .subcontainer {
        width: 95%;
        min-height: 10rem;
        display: flex;
        gap: 10px;

        .wrapper_image {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }
        }
        .wrapper_text_area {
          width: 90%;
          display: flex;
          flex-direction: column;
          align-self: center;
          gap: 1rem;
          .textarea {
            overflow: auto;
            border: none;
            outline: none;
            width: 80%;
            min-height: 100px;
            padding: 2% 1% 0 2%;
            border-radius: 15px;
            resize: none;
            font-family: "Poppins", sans-serif;
          }
          .container_input_tools {
            width: 80%;
            display: flex;
            padding-left: 1%;
            align-items: center;
            gap: 1rem;
            .last {
              margin-left: auto;
              cursor: pointer;
              border: none;
            }
            .last:hover {
              color: $fb_color;
            }
          }
        }
      }
    }
  }
}
