@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
$mb: 400px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$llg: 1180px;
$xl: 1280px;
$xx-l: 1560px;
$bg: #f0f2f5;
$skeleton: rgb(218, 213, 213);
$linear_skeleton: rgb(250, 247, 247);
.posting_user_container {
  min-height: 350px;
  max-width: 750px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 2% 0 2% 0;
  border-radius: 15px;
  min-width: 350px;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 3px 3px rgba(105, 102, 102, 0.3);
  .posting_section_user {
    height: 3rem;
    width: 95%;
    display: flex;
    align-content: center;
    justify-content: space-between;

    .sub_section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .wrapper_user_profile {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }
      }
      .user_des {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .des_name {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          img {
            width: 20px;
            height: 20px;
          }
        }
        .des_date {
          font-size: 0.8rem;
          justify-content: flex-start;
          color: rgb(167, 158, 158);
          align-self: flex-start;
          display: flex;
          gap: 10px;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    .sub_section2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;

      .wrapper_tools {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .wrapper_tools:hover {
        background-color: $bg;
      }
    }
  }
  .posting_section_text {
    min-height: 3rem;
    display: flex;
    width: 90%;
    margin-top: 3%;
    word-break: break-all;
    min-height: 50px;
  }
  .posting_section_image {
    width: 100%;
    min-height: 3rem;
    font-size: 0.8rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: $bg;
    .wrapper_images {
      cursor: pointer;
      transition: opacity 0.5s;
      display: flex;
      align-content: center;
      justify-content: center;
      overflow: hidden;

      img {
        transition: transform 0.5s;
      }
    }
    .wrapper_images:hover {
      opacity: 0.5;
      img {
        transform: scale(1.05);
      }
    }
  }
  .posting_section_tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: gray;
    .container_tool_emoji {
      display: flex;
      img[class="emoji"] {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: transform 0.5s;
      }
      img[class="emoji"]:hover {
        transform: translateY(-15%);
      }
    }

    .container_like {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      position: relative;
      .list_sentiment {
        position: absolute;
        top: -300px;
        width: 250px;
        min-height: 250px;
        padding: 10% 0 1% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 15px;
        gap: 2%;
        z-index: 55;
        backdrop-filter: blur(2px);
        .wrapper_list {
          width: 80%;
          display: flex;
          padding: 1%;
          gap: 5%;
          justify-content: space-evenly;
          .listname {
            color: white;
            font-size: 0.8rem;
            flex: 1;
          }
          .listname_reacttion {
            flex: 1;
            color: white;
            font-size: 0.8rem;
            text-transform: capitalize;
          }
          .wrapper_image_emoji {
            flex: 1;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      span {
        cursor: pointer;
      }
      span:hover {
        text-decoration: underline;
      }
    }
  }
  .posting_section_chat {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
    color: gray;
    .wrapper_tools.like {
      border: 2px solid $bg;
      span[class="wrapper_emoji_like"] {
        width: 30px;
        height: 30px;

        img[class="emoji"] {
          width: 30px;
          height: 30px;
          cursor: pointer;
          transition: transform 0.5s;
        }
        img[class="emoji"]:hover {
          transform: translateY(-15%) scale(1.2);
        }
      }
    }
    .wrapper_tools {
      cursor: pointer;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      border-radius: 15px;
      gap: 1rem;
      position: relative;

      .container_sentiment {
        position: absolute;
        top: -130%;
        background-color: white;
        min-width: 180px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
        border-radius: 15px;
        left: 0;
        gap: 2%;
        span[class="wrapper_emojij"] {
          width: 30px;
          height: 30px;
          img[class="emoji"] {
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: transform 0.5s;
          }
          img[class="emoji"]:hover {
            transform: translateY(-15%) scale(1.2);
          }
        }
      }
    }
    .wrapper_tools:hover {
      background-color: $bg;
    }
  }
}
