@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.dialogure {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}
.dialogure .container_loading {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  z-index: 99;
}
.dialogure .dialogue_card {
  pointer-events: fill;
  min-width: 350px;
  width: 50%;
  min-height: 450px;
  height: 600px;
  background-color: white;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(105, 102, 102, 0.6);
  flex-direction: column;
}
.dialogure .dialogue_card .dialogue_header {
  height: 80px;
  display: flex;
  justify-content: center;
}
.dialogure .dialogue_card .dialogue_header .subcontainer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 80px;
  margin-left: auto;
  padding: 0 1% 0 1%;
}
.dialogure .dialogue_card .dialogue_header .subcontainer_header .icon_close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f0f2f5;
  transition: background 0.2s, color 0.5s;
  cursor: pointer;
}
.dialogure .dialogue_card .dialogue_header .subcontainer_header .icon_close:hover {
  background-color: gray;
  color: white;
  border-radius: 50%;
}
.dialogure .dialogue_card .dialogue_posting_content {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.dialogure .dialogue_card .dialogue_posting_content .profile {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1%;
}
.dialogure .dialogue_card .dialogue_posting_content .profile .wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.dialogure .dialogue_card .dialogue_posting_content .profile .wrapper img[class=image_profile] {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.dialogure .dialogue_card .dialogue_posting_content .profile .profile_desc {
  display: flex;
  flex-direction: column;
}
.dialogure .dialogue_card .dialogue_posting_content .profile .profile_desc span[class=name] {
  font-size: 1.5rem;
}
.dialogure .dialogue_card .dialogue_posting_content .profile .profile_desc span[class=button] {
  background-color: #f0f2f5;
  padding: 1% 0 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  width: 120px;
  transition: background 0.5s;
  cursor: pointer;
}
.dialogure .dialogue_card .dialogue_posting_content .profile .profile_desc span[class=button]:hover {
  background-color: gray;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_input {
  width: 95%;
  display: flex;
  font-size: 1.5rem;
  color: gray;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_input .container_input {
  width: 100%;
  display: flex;
  border-radius: 15px;
  padding: 10px;
  flex-direction: column;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_input .container_input textarea {
  display: flex;
  min-height: 100px;
  width: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  resize: none;
  border: none;
  outline: none;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_input .container_input .container_image_input {
  width: 95%;
  height: 100px;
  overflow: hidden;
  display: flex;
  padding: 2% 0 2% 0;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_input .container_input .container_image_input .wrapper_image {
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.5s;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_input .container_input .container_image_input .wrapper_image img[class=image_input] {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_input .container_input .container_image_input .wrapper_image:hover {
  transform: translateY(-5%);
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option {
  margin-top: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  position: relative;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option .previewImage {
  position: absolute;
  top: -90%;
  width: 100px;
  height: 100px;
  left: 10%;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option .previewImage img[class=img_post] {
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 1;
  border-radius: 15px;
  transition: opacity 0.5s, transform 0.5s;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option .previewImage img[class=img_post]:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px pink;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option .container_option_tools {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option .container_option_tools .wrapper_icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option .container_option_tools .wrapper_icon img[class=icon] {
  width: 30px;
  height: 30px;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option .container_option_tools .wrapper_icon:hover {
  transform: scale(1.2);
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option_tools {
  width: 95%;
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 15px;
  height: 60px;
  align-items: center;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option_tools .container_option_tools {
  display: flex;
  width: 90%;
  justify-content: space-between;
  position: relative;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option_tools .container_option_tools input[id=dialogue_input] {
  display: none;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option_tools .container_option_tools span[class=adding] {
  flex: 1;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option_tools .container_option_tools .option_tools {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option_tools .container_option_tools .option_tools .wrapper_icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option_tools .container_option_tools .option_tools .wrapper_icon img[class=icon] {
  width: 30px;
  height: 30px;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_option_tools .container_option_tools .option_tools .wrapper_icon:hover {
  transform: scale(1.2);
}
.dialogure .dialogue_card .dialogue_posting_content .profile_button {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_button button[class=button_post] {
  cursor: pointer;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgba(196, 192, 192, 0.8);
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
}
.dialogure .dialogue_card .dialogue_posting_content .profile_button button[class=button_post]:hover {
  background-color: rgb(196, 192, 192);
}/*# sourceMappingURL=Dialogue.css.map */