$mb: 400px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$llg: 1180px;
$xl: 1280px;
$xx-l: 1560px;
$bg: #f0f2f5;
$fb_color: rgb(0, 132, 255);
.sub_container_message {
  width: 95%;
  min-height: 50px;
  display: flex;
  flex-direction: column;

  .section_image_and_message {
    display: flex;
    gap: 1%;
    .wrapper_image {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
    .container_description {
      width: 100%;
      min-height: 30px;
      display: flex;
      flex-direction: column;
      span[class="message_card"] {
        min-width: 150px;
        max-width: 200px;
        min-height: 50px;
        word-break: break-all;
        display: flex;
        padding: 2%;
        gap: 10%;
        border-radius: 15px;
        background-color: $bg;
        flex-direction: column;

        .name {
          font-size: 0.8rem;
          display: flex;
          gap: 5%;
          font-weight: 700;
          align-items: center;
          text-transform: capitalize;
          cursor: pointer;
          img {
            width: 20px;
            height: 20px;
          }
        }
        .name:hover {
          text-decoration: underline;
        }
        .message {
          font-size: 0.7rem;
          margin-top: 5%;
          margin-left: 5%;
        }
        .wrapper_photo {
          margin-top: 5%;
          width: 180px;
          height: 150px;
          align-self: center;
          border-radius: 15px;

          img {
            width: 180px;
            height: 150px;
            border-radius: 15px;
          }
        }
      }
      .container_replies {
        display: flex;
        gap: 2%;
        width: 100%;
        margin-top: 1%;
        span[class="tool"] {
          font-size: 0.7rem;
          cursor: pointer;
        }
        span[class="tool"]:hover {
          text-decoration: underline;
        }
        .time {
          font-size: 0.7rem;
          color: gray;
        }
      }
    }
  }
  .comment {
    font-size: 0.8rem;
    cursor: pointer;
    color: gray;
    margin: 0 0 0 9%;
  }
  .comment:hover {
    text-decoration: underline;
  }
  .section_sub_replies_comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    width: 80%;
    align-self: flex-end;
    .card {
      display: flex;
      min-width: 250px;
      width: 40%;
      flex-direction: column;
      span[class="message_card"] {
        min-width: 200px;
        min-height: 50px;
        word-break: break-all;
        display: flex;
        padding: 3%;
        border-radius: 15px;
        background-color: $bg;
        flex-direction: column;
        position: relative;
        .sub_wrapper_image {
          left: -17%;
          position: absolute;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: transform 0.5s;
          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
        }
        .sub_wrapper_image:hover {
          transform: scale(1.2);
        }
        .name {
          flex: 1;
          font-weight: 800;
          font-size: 0.9rem;
          display: flex;
          gap: 5%;
          margin: 5px 0 0 5px;
          align-items: center;
          text-transform: capitalize;
          cursor: pointer;
          img {
            width: 20px;
            height: 20px;
          }
        }
        .name:hover {
          text-decoration: underline;
        }

        .message {
          font-size: 0.7rem;
          display: flex;
          padding: 0 3% 0 5%;
          .wrapper_message {
            display: flex;
            flex-direction: row;
            .text_h4 {
              .underline_at {
                cursor: pointer;
              }
              .underline_at:hover {
                text-decoration: underline;
              }
            }
            .text {
              font-weight: 400;
            }
            .name_at {
              color: $fb_color;
              cursor: pointer;
              display: flex;
            }
            .name_at:hover {
              text-decoration: underline;
            }
          }
        }

        .wrapper_imageURL {
          width: 200px;
          height: 200px;
          border-radius: 15px;
          align-self: center;
          img {
            width: 200px;
            height: 200px;
            border-radius: 15px;
          }
        }
      }
      .container_replies {
        display: flex;
        gap: 5%;
        margin: 2% 0 5% 1%;

        span[class="tool"] {
          font-size: 0.7rem;
          cursor: pointer;
        }
        span[class="tool"]:hover {
          text-decoration: underline;
        }
        .time {
          min-width: 70px;
          display: flex;
          font-size: 0.7rem;
          color: gray;
        }
      }
    }
  }
  .section_sub_comment {
    width: 100%;
    border-radius: 15px;
    background-color: $bg;
    display: flex;
    gap: 1%;
    min-height: 120px;
    padding: 5% 0 2% 2%;
    max-width: 550px;
    position: relative;
    .previewImage {
      top: -75%;
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 15px;
      animation: rotateY 5s infinite linear alternate;
      img[class="imageInput"] {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.5s;
      }
      img[class="imageInput"]:hover {
        opacity: 0.8;
      }
    }
    @keyframes rotateY {
      0% {
        transform: rotateY(0deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }
    .wrapper_image {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
    .sub_container_tools {
      width: 90%;
      min-height: 100px;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
      textarea[class="textarea_replies"] {
        border-radius: 13px;
        width: 85%;
        min-height: 60px;
        outline: none;
        font-family: "Poppins", sans-serif;
        word-break: break-all;
        resize: none;
        padding: 2%;
        border: none;
      }
      .container_input_tools {
        display: flex;
        gap: 5px;
        align-items: center;
        input[id="sub_input_image"] {
          display: none;
        }
        .wrapper_icon_tools {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .wrapper_icon_tools:hover {
          > * {
            color: $fb_color;
          }
        }
        .sub_send {
          margin-left: auto;
          border: none;
          cursor: pointer;
          > * {
            color: $fb_color;
          }
        }
        .sub_send:hover {
          > * {
            color: $fb_color;
          }
        }
        .To {
          margin-left: 2%;
          font-size: 0.7rem;
        }
        .replieTo {
          width: 80px;
          font-size: 0.7rem;
          color: $fb_color;
        }
      }
    }
  }
}
