.sub_container_message {
  width: 95%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sub_container_message .section_image_and_message {
  display: flex;
}
.sub_container_message .section_image_and_message .wrapper_image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_container_message .section_image_and_message .wrapper_image img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.sub_container_message .section_image_and_message .container_description {
  width: 100%;
  min-height: 30px;
  display: flex;
  flex-direction: column;
}
.sub_container_message .section_image_and_message .container_description span[class=message_card] {
  width: 150px;
  min-height: 50px;
  word-break: break-all;
  display: flex;
  padding: 2% 0 1% 2%;
  gap: 10%;
  border-radius: 15px;
  background-color: #f0f2f5;
  flex-direction: column;
}
.sub_container_message .section_image_and_message .container_description span[class=message_card] .name {
  font-size: 0.8rem;
  display: flex;
  gap: 5%;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}
.sub_container_message .section_image_and_message .container_description span[class=message_card] .name img {
  width: 20px;
  height: 20px;
}
.sub_container_message .section_image_and_message .container_description span[class=message_card] .name:hover {
  text-decoration: underline;
}
.sub_container_message .section_image_and_message .container_description span[class=message_card] .message {
  font-size: 0.7rem;
  margin-top: 5%;
  margin-left: 5%;
}
.sub_container_message .section_image_and_message .container_description .container_replies {
  display: flex;
  gap: 2%;
  width: 80%;
}
.sub_container_message .section_image_and_message .container_description .container_replies span[class=tool] {
  font-size: 0.8rem;
  cursor: pointer;
}
.sub_container_message .section_image_and_message .container_description .container_replies span[class=tool]:hover {
  text-decoration: underline;
}
.sub_container_message .section_image_and_message .container_description .container_replies .time {
  font-size: 0.7rem;
  color: gray;
}
.sub_container_message .comment {
  font-size: 0.8rem;
  cursor: pointer;
  color: gray;
  margin: 0 0 0 8%;
}
.sub_container_message .comment:hover {
  text-decoration: underline;
}
.sub_container_message .section_sub_replies_comment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  width: 80%;
  align-self: flex-end;
}
.sub_container_message .section_sub_replies_comment .card {
  display: flex;
  min-width: 250px;
  width: 40%;
  flex-direction: column;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] {
  min-width: 200px;
  min-height: 50px;
  word-break: break-all;
  display: flex;
  padding: 5%;
  gap: 10%;
  border-radius: 15px;
  background-color: #f0f2f5;
  flex-direction: column;
  position: relative;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .sub_wrapper_image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5%;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .sub_wrapper_image img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .name {
  font-size: 0.8rem;
  display: flex;
  gap: 5%;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .name img {
  width: 20px;
  height: 20px;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .name:hover {
  text-decoration: underline;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .message {
  font-size: 0.7rem;
  margin-top: 5%;
  display: flex;
  gap: 3%;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .message .wrapper_message {
  display: flex;
  flex-direction: row;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .message .wrapper_message .underline_at {
  cursor: pointer;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .message .wrapper_message .underline_at:hover {
  text-decoration: underline;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .message .wrapper_message .name_at {
  color: rgb(0, 132, 255);
  cursor: pointer;
  display: flex;
}
.sub_container_message .section_sub_replies_comment .card span[class=message_card] .message .wrapper_message .name_at:hover {
  text-decoration: underline;
}
.sub_container_message .section_sub_replies_comment .card .container_replies {
  display: flex;
  gap: 5%;
  margin: 2% 0 5% 10%;
}
.sub_container_message .section_sub_replies_comment .card .container_replies span[class=tool] {
  font-size: 0.7rem;
  cursor: pointer;
}
.sub_container_message .section_sub_replies_comment .card .container_replies span[class=tool]:hover {
  text-decoration: underline;
}
.sub_container_message .section_sub_replies_comment .card .container_replies .time {
  min-width: 70px;
  display: flex;
  font-size: 0.7rem;
  color: gray;
}
.sub_container_message .section_sub_comment {
  width: 100%;
  border-radius: 15px;
  background-color: #f0f2f5;
  display: flex;
  gap: 1%;
  min-height: 120px;
  padding: 5% 0 2% 2%;
  max-width: 550px;
}
.sub_container_message .section_sub_comment .wrapper_image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_container_message .section_sub_comment .wrapper_image img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.sub_container_message .section_sub_comment .sub_container_tools {
  width: 90%;
  min-height: 100px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.sub_container_message .section_sub_comment .sub_container_tools textarea[class=textarea_replies] {
  border-radius: 13px;
  width: 85%;
  min-height: 60px;
  outline: none;
  font-family: "Poppins", sans-serif;
  word-break: break-all;
  resize: none;
  padding: 2%;
  border: none;
}
.sub_container_message .section_sub_comment .sub_container_tools .container_input_tools {
  display: flex;
  gap: 5px;
  align-items: center;
}
.sub_container_message .section_sub_comment .sub_container_tools .container_input_tools .wrapper_icon_tools {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_container_message .section_sub_comment .sub_container_tools .container_input_tools .wrapper_icon_tools:hover > * {
  color: rgb(0, 132, 255);
}
.sub_container_message .section_sub_comment .sub_container_tools .container_input_tools .sub_send {
  margin-left: auto;
  border: none;
  cursor: pointer;
}
.sub_container_message .section_sub_comment .sub_container_tools .container_input_tools .sub_send > * {
  color: rgb(0, 132, 255);
}
.sub_container_message .section_sub_comment .sub_container_tools .container_input_tools .sub_send:hover > * {
  color: rgb(0, 132, 255);
}
.sub_container_message .section_sub_comment .sub_container_tools .container_input_tools .To {
  margin-left: 2%;
  font-size: 0.7rem;
}
.sub_container_message .section_sub_comment .sub_container_tools .container_input_tools .replieTo {
  width: 80px;
  font-size: 0.7rem;
  color: rgb(0, 132, 255);
}/*# sourceMappingURL=MediumPostCad.css.map */