@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

$mb: 400px;
$sm: 640px;
$md: 768px;
$mmd: 990px;
$lg: 1024px;
$llg: 1180px;
$xl: 1280px;
$xx-l: 1560px;
$bg: #f0f2f5;
.container_chat_side {
  width: 25%;
  max-width: 450px;
  position: fixed;
  top: 5rem;
  bottom: 0;
  right: 0;
  overflow-y: auto;

  .container_lists_chat {
    border-bottom: 2px solid grey;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    li {
      list-style: none;
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      padding: 0 1rem 0 1rem;
      gap: 1rem;
      .wrapper_birth_day {
        width: 45px;
        height: 45px;
        img {
          width: 45px;
          height: 45px;
        }
      }
      .wrapper_desc_birth_Day {
        font-size: 0.8rem;
      }
    }
    .card_friend_list.contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      .friend {
        font-size: 1.2rem;
      }
      .container_tools {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        .wrapper_icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          height: 45px;
          border-radius: 50%;

          transition: background 0.5s;
          cursor: pointer;
          .icon {
            color: rgb(158, 155, 155);

            transition: color 0.5s;
          }
        }
        .wrapper_icon:hover {
          background-color: rgb(175, 168, 168);
          .icon {
            color: $bg;
          }
        }
      }
    }
    li[class="card_friend_list"] {
      list-style: none;
      width: 100%;
      height: 4rem;
      display: flex;
      cursor: pointer;
      transition: background 0.2s;
      .wrapper_profile {
        width: 45px;
        height: 45px;
        align-items: center;
        border-radius: 50%;
        position: relative;
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }
        .online {
          right: 0;
          bottom: 0;
          border-radius: 50%;
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: mediumseagreen;
        }
      }
    }
    li[class="card_friend_list"]:hover {
      background-color: rgb(199, 185, 185);
    }
  }
  .description {
    width: 95%;
    font-size: 0.8rem;
    height: 100px;
    overflow: hidden;
    .sub_desc {
      width: 100%;
      height: 100px;
      // background: linear-gradient(
      //   to left,
      //   transparent,
      //   rgb(250, 247, 247),
      //   transparent
      // );
      // animation: skeleton 3s linear infinite alternate;
    }
  }
  @keyframes skeleton {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@media (max-width: $lg) {
  .container_chat_side {
    display: none;
  }
}
